# Composer
/vendor/

# Eclipse
.metadata
.project
/bin/
/tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/
/build/

# Locally stored "Eclipse launch configurations"
*.launch

# PDT-specific (PHP Development Tools)
.buildpath