# Exclude files from archive

.gitattributes  export-ignore
.gitignore      export-ignore
.vscode/        export-ignore
tests/          export-ignore

RoboFile.php	export-ignore

*.psd           export-ignore

# Build tools
.github/                    export-ignore
.stylelintrc.json           export-ignore
phpcs.xml.dist              export-ignore
sonar-project.properties    export-ignore
